html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: 100%;
  background-position: bottom;
  background-color: #020125;
}

form {
  margin-top: 2.5rem;
  padding: 2rem;
  border-radius: 1rem !important;
}

form button,
form h3 {
  margin: 2rem 0;
  font-weight: bold;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #020125;
  box-shadow: none;
}

.profile {
  background-color: #7003a5 !important;
  transition: 0.5s all ease;
}

.active {
  border-bottom: 1px solid #7003a5;
}

.profile:hover {
  /*opacity: 0.9;*/
  color: #7003a5 !important;
  background-color: white !important;
}

.button {
  background-color: #040236 !important;
}
nav {
  background-color: #020125;
}

.link {
  transition: all 0.5s ease;
}

.link:hover {
  color: #8b12c7 !important;
}

button {
  border-radius: 0.3rem !important;
}

.card-title {
  font-size: 3rem !important;
  font-weight: bold !important;
  margin-bottom: 1rem !important;
}

.card {
  margin-top: 10rem;
  border-radius: 1rem !important;
}

.card-action {
  border-radius: 1rem !important;
}

.card-content p {
  font-size: 1.5rem;
}

.card-action div {
  font-size: 1.2rem;
  font-weight: 500;
}
